*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.lateral{
    flex-basis: 20%;
    border-right: 1px solid gray;
}

h4,p{
    font-family: Roboto;
    padding: 3px;
}

.lateral ul{
    display: flex;
    flex-direction: column;
}
.lateral img{
    width: 55px;
    height: 55px;
    border-radius: 40px;
}

 .lateral ul li{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    border-bottom: 1px solid #bec1bb; 
 }

 .lateral .item-2{
    height: 10em;
 }
 
.lateral .subitem-1{
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding-left: 10px;
    
}
.lateral .subitem-1 .maria,.icons{
    color: #bec1bb;
}

 .lateral .item-2 button{
    width: 60%;
    height: 3em;
    background-color: #a491d2;
    color: white;
    border: none;
    font-size: 20px;
 }
 .lateral .icons i{
    padding-left: 15px;
    
 }

.principal{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal img{
    width: 20em;
    padding: 2em;
}
.principal .texto{
    text-align: center;
    font-family: Roboto;
    
}
.principal h1{
    font-weight: 500;
    font-size: 48px;
    color: #1b1f21;
}

